<?php

// Set your OAuth credentials here  
// These credentials can be obtained from the 'Manage API Access' page in the
// developers documentation (http://www.yelp.com/developers)
$CONSUMER_KEY = '';
$CONSUMER_SECRET = '';
$TOKEN = '';
$TOKEN_SECRET = '';